<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<body>
	<ui:composition>
		
		
		<h:form>
		<div class="row">
			<div class="column1"
					style="float: left; width: 50%; padding: 10px; height: 20px; box-sizing: border-box;">
					Welcome #{loginController.username}</div>
			<div class="column2" align="right"
					style="float: left; width: 50%; padding: 10px; height: 20px; box-sizing: border-box;">
					<h:commandLink action="#{loginController.logout()}" value="Logout" />
			</div>
		</div>
		</h:form>
		<br></br><br></br>
		<div class="row">
			<div class="column" style="float: left; padding: 10px; box-sizing: border-box;">
				<h:link value = "Home" outcome = "main" />
			</div>
			<div class="column" style="float: left; padding: 10px; box-sizing: border-box;">
				<h:link value = "Employees" outcome = "employees" />
			</div>
			
		</div>
		
		
	</ui:composition>
</body>
</html>