<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<h:body>
	<ui:composition template="/template/common.xhtml">
		<ui:define name="content">															
				<h:form>
					<h:commandLink action="#{employeesController.create()}" value="New" />
					<br></br><br></br>
					<h:dataTable value="#{employeesController.employeesList}" var="e"
						style="width:100%" styleClass="order-table"
						headerClass="order-table-header"
						rowClasses="order-table-odd-row,order-table-even-row">
						<h:column>
							<f:facet name="header">ID</f:facet> 					         
                		#{e.id}
            		</h:column>
						<h:column>
							<f:facet name="header">Birth Date</f:facet>                
                		#{e.birthDate}
            		</h:column>
						<h:column>
							<f:facet name="header">First name</f:facet>                
                		#{e.firstName}
            		</h:column>
						<h:column>
							<f:facet name="header">Last name</f:facet>                
                		#{e.lastName}
            		</h:column>
						<h:column>
							<f:facet name="header">Gender</f:facet>                
                		#{e.gender}
            		</h:column>
						<h:column>
							<f:facet name="header">Hire Date</f:facet>                
                		#{e.hireDate}
            		</h:column>
						<h:column>
							<f:facet name="header">Options</f:facet>
							<h:commandLink action="#{employeesController.employeeDetails()}" value="Details">
								<f:param name="employeeID" value="#{e.id}" />
							</h:commandLink>&nbsp;&nbsp;
							<h:commandLink action="#{employeesController.delete()}" value="Delete">
								<f:param name="employeeID" value="#{e.id}" />
							</h:commandLink>
						</h:column>
					</h:dataTable>
				</h:form>			
		</ui:define>
	</ui:composition>
</h:body>
</html>
