<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>login</title>
    </h:head>
    <h:body>
        <h:form>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <div id="parentLogin">
                <div align="center">
                    <h:panelGrid columns="3">
                        <h:outputText value="Username: " style="color: #4285f4; font-weight: bold;" />
                        <h:inputText id="username" value="#{loginController.username}" size="10" required="true"></h:inputText>
                        <h:message for="username"></h:message>


                        <h:outputText value="Password: " style="color: #4285f4; font-weight: bold;" />
                        <h:inputSecret id="password" value="#{loginController.password}" size="10" required="true"></h:inputSecret>
                        <h:message for="password"></h:message>

                        <h:outputText value="" />
                        <h:commandButton action="#{loginController.validateUsernamePassword()}" value="Login"></h:commandButton>
                    </h:panelGrid>
                </div>
            </div>
        </h:form>
    </h:body>
</html>